<form [formGroup]="dateRangeForm" (ngSubmit)="onFormSubmit()" class="form">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'datepicker.label' | translate }}</mat-label>
    <mat-date-range-input [formGroup]="dateRangeForm" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="start"
        placeholder="Start date"
        (ngModelChange)="onInputChanged('startDate', $event)"
      />
      <input
        matEndDate
        formControlName="end"
        placeholder="End date"
        (ngModelChange)="onInputChanged('endDate', $event)"
      />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="startDate?.errors?.['matStartDateInvalid']">
      {{ 'datepicker.errors.invalidStartDate' | translate }}
    </mat-error>
    <mat-error *ngIf="endDate?.errors?.['matEndDateInvalid']">
      {{ 'datepicker.errors.invalidEndDate' | translate }}
    </mat-error>
    <mat-error *ngIf="startDate?.errors?.['required']">
      {{ 'datepicker.errors.fromDateRequired' | translate }}
    </mat-error>
    <mat-error *ngIf="endDate?.errors?.['required']">{{ 'datepicker.errors.toDateRequired' | translate }}</mat-error>
  </mat-form-field>
  <app-button
    mat-raised-button
    [title]="'datepicker.submit' | translate"
    [disabled]="!dateRangeForm.valid"
    type="submit"
    class="submit"
  ></app-button>
</form>
